<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded shadow hover-dropdown">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto hover-dropdown">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Strona główna</a>
        </li>
        <li *ngIf="authService.isLogged()"class="nav-item dropdown" (mouseover)="openFirstDropDown=true" (mouseout)="openFirstDropDown=false" (click)="openFirstDropDown=false" [ngClass]="{'open': openFirstDropDown, 'show': openFirstDropDown}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Testy
          </a>
          <div class="dropdown-menu" [ngClass]="{'show': openFirstDropDown}" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" routerLink="show-all-tests">Przeglądaj testy</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="create-test">Stwórz test</a>
            <a class="dropdown-item" routerLink="#">Sprawdź testy</a>

          </div>
        </li>
        <li *ngIf="authService.isLogged()" class="nav-item dropdown" (mouseover)="openSecondDropDown=true" (mouseout)="openSecondDropDown=false" (click)="openSecondDropDown=false" [ngClass]="{'open': openSecondDropDown, 'show': openSecondDropDown}">
          <a class="nav-link dropdown-toggle" routerLink="applicants" id="navbarDropdownLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kandydaci
          </a>
          <div class="dropdown-menu" [ngClass]="{'show': openSecondDropDown}" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" routerLink="applicants">Przeglądaj kandydatów</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="#">Dodaj kandydata</a>
          </div>
        </li>
      </ul>
      <span class="navbar-text" *ngIf="authService.isLogged()">Zalogowany jako</span>
      <ul class="navbar-nav mr-0" *ngIf="authService.isLogged()">
        <div class="nav-item dropdown">
          <div class="btn-group">
            <a class="btn btn-link nav-link pl-1">{{username}}</a>
            <button type="button" class="btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="generate-link">Wygeneruj link</a>
              <a class="dropdown-item" routerLink="" (click)="logout()" >Wyloguj</a>
            </div>
          </div>
        </div>
      </ul>
      <ul class="navbar-nav mr-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" *ngIf="!this.authService.isLogged()">Zaloguj się</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
