<ng-container *ngIf="applicant; else loading">
  <h2 class="mt-4">{{applicant.firstName + " " + applicant.lastName}}</h2>
  <hr/>
  <div class="container">
    <div class="row justify-content-md-center my-auto">
      <div class="col col-5">
        <img src="{{applicant.photoUrl}}" class="mx-auto d-block applicant-picture img-thumbnail" alt="Zdjęcie kandydata"
             #applicantPicture [style.height.px]="applicantPicture.width"/>
      </div>
      <div class="col col-7">
        <div class="row border-bottom mt-5">
          <div class="col border-right py-1">Imię: {{applicant.firstName}}</div>
          <div class="col">Nazwisko: {{applicant.lastName}}</div>
        </div>
        <div class="row border-bottom">
          <div class="col border-right py-1">Data urodzenia: {{applicant.dateOfBirth | date:'dd.MM.yyyy'}} r.</div>
          <div class="col">Email: {{applicant.email}}</div>
        </div>
        <div class="row">
          <div class="col border-right py-1">Adres: {{applicant.city}}, {{applicant.address}}</div>
          <div class="col"></div>
        </div>
        <div class="row mt-5 border-bottom pb-1">
          <div class="col">O mnie: </div>
        </div>
        <div class="row pt-2"><div class="col">{{applicant.aboutMe}}</div></div>
      </div>
    </div>
  </div>
  <h5 class="mt-4">Doświadczenie</h5>
  <ng-container *ngIf="applicant.experiences.length > 0; else noEntries">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Firma</th>
        <th scope="col">Stanowisko</th>
        <th scope="col">Lata</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let experience of applicant.experiences; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{experience.name}}</td>
        <td>{{experience.position}}</td>
        <td>{{experience.years}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <h5 class="mt-4">Edukacja</h5>
  <ng-container *ngIf="applicant.universities.length > 0; else noEntries">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Uniwersytet</th>
        <th scope="col">Kierunek</th>
        <th scope="col">Stopień</th>
        <th scope="col">Lata</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let university of applicant.universities; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{university.name}}</td>
        <td>{{university.major}}</td>
        <td>{{university.degree}}</td>
        <td>{{university.years}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noEntries><span>(brak)</span></ng-template>
</ng-container>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-grow" role="status"></div>
  </div>
</ng-template>
