<div class="mt-4">
  <h5 class="d-inline">Testy</h5>
  <button type="button" class="btn btn-outline-primary btn-sm ml-2 mb-2"  [ngbPopover]="assignPopover" triggers="manual"
          popoverTitle="Przypisz test" #p="ngbPopover" autoClose="outside"
          (click)="toggleAssign(p)" popoverClass="assign-popover" [disabled]="tests == null">Przypisz</button>
  <div class="clearfix"></div>
</div>
<ng-container *ngIf="tests; else loading">
  <ng-container *ngIf="tests.length > 0; else noEntries">
    <ul class="list-group" *ngFor="let test of tests">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="test.status != 1">
        {{test.title}}
        <div>
          <span class="badge badge-success" *ngIf="test.status == 2">OCENIONY</span>
          <span class="badge badge-danger" *ngIf="test.status == 0">NIE ROZWIĄZANY</span>
          <div ngbDropdown placement="top-right" class="d-inline-block">
            <button class="btn" ngbDropdownToggle></button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem class="text-danger" (click)="open(deleteModal, test.timestamp)">Usuń</button>
            </div>
          </div>
        </div>
      </li>
      <a class="list-group-item d-flex justify-content-between align-items-cener list-group-item-action text-dark" routerLink="test/{{test.timestamp}}" *ngIf="test.status == 1">
        {{test.title}}
        <span class="badge badge-warning">OCEŃ</span>
      </a>
    </ul>
  </ng-container>
</ng-container>
<ng-template #noEntries><span>(brak)</span></ng-template>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-grow" role="status"></div>
  </div>
</ng-template>

<ng-template #assignPopover>
  <form class="form-inline">
    <input type="text" class="form-control" placeholder="Nazwa testu" [(ngModel)]="testTitle"
           [ngModelOptions]="{standalone: true}">
    <button type="submit" class="btn btn-primary mt-2" (click)="searchTests()">Szukaj</button>
  </form>
  <ng-container *ngIf="testLoading || assignableTests">
    <div class="mt-2" *ngIf="assignableTests; else loading">
      <button type="button" class="list-group-item list-group-item-action" *ngFor="let test of assignableTests"
              (click)="openAssignModal(test.testId, test.title);">
        {{test.title}}
      </button>
    </div>
  </ng-container>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Usuń dostęp do testu</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Czy na pewno chcesz usunąć użytkownikowi dostęp do tego testu?</p>
    <p>Jeżeli test został rozwiązany, spowoduje to usunięcie wszystkich odpowiedzi i komentarzy.</p>
  </div>
  <div class="modal-footer">
    <div *ngIf="deleteInProgress"><ng-container *ngTemplateOutlet="loading"></ng-container></div>
    <button type="button" class="btn btn-danger" (click)="deleteTest()" [disabled]="deleteInProgress">Usuń</button>
    <button type="button" class="btn btn-primary"(click)="modal.close('Close click')" [disabled]="deleteInProgress">Anuluj</button>
  </div>
</ng-template>
