<main class="container">
  <div class="shadow bg-white rounded p-4 my-3 d-flex flex-column text-center">
    <h1 class="mb-5">Generator linków rejestrujących</h1>
    <div class="col-5 align-self-center d-flex flex-column">
      <input class="form-control form-control-lg" type="text" name="username" placeholder="Adres e-mail" [(ngModel)]="mail"><br>
      <input class="form-control form-control-lg" type="text" name="username" placeholder="Hasło" [(ngModel)]="password"><br>
      <button class="btn btn-primary align-self-end btn-lg" type="button" (click)="send()">Wyślij link</button>
    </div>
  </div>
</main>
