<h2 class="mt-2">{{test.title}}</h2>
<div *ngIf="test.closeQuestions.length != 0">
  <div class="card my-3" *ngFor="let closedQuestion of test.closeQuestions; let i = index">
    <div class="card-header">Pytanie {{i+1}}</div>
    <div class="row no-gutters">
      <div class="col-md-auto">
        <div class="card-body text-center">{{closedQuestion.answerScore}}pkt.</div>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <label class="card-title h6">{{closedQuestion.question}}</label>
          <div class="form-check" *ngFor="let answer of closedQuestion.answers; let j = index">
            <input type="checkbox" id="{{j}},{{i}}" name="{{closedQuestion.question}}" value="{{answer}}">
            <label class="form-check-label" for="{{j}},{{i}}">{{answer}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="card my-3" *ngIf="test.openQuestions.length != 0">
    <div class="card my-3" *ngFor="let openQuestion of test.openQuestions; let k = index">
      <div class="card-header">Pytanie {{k+test.closeQuestions.length+1}}</div>
      <div class="row no-gutters">
        <div class="col-md-auto">
          <div class="card-body text-center">{{openQuestion.maxScore}}pkt.</div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body form-group">
          <label class="card-title h6 mb-4">{{openQuestion.question}}</label>
          <textarea class="form-control" [(ngModel)]="openQuestion.answer"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="card my-3" *ngIf="test.valueQuestions.length != 0">
    <div class="card my-3" *ngFor="let valueQuestion of test.valueQuestions; let k = index">
      <div class="card-header">Pytanie {{k+test.closeQuestions.length+test.valueQuestions.length+1}}</div>
      <div class="row no-gutters">
        <div class="col-md-auto">
          <div class="card-body text-center">{{valueQuestion.maxScore}}pkt.</div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body form-group">
          <label class="card-title h6 mb-4">{{valueQuestion.question}}</label>
          <input type="number" class="form-control" [(ngModel)]="valueQuestion.answer">
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn" (click)="send()">Wyślij</button>
