<!-- TOP -->
<h2 class="mt-2">Rejestracja użytkownika</h2>
<div class="card-body">
  <div>
    <h5 class="mt-2">Identyfikator:</h5>
    <input id="id" name="id" class="form-control" type="text" required
           [(ngModel)]="id" #id="ngModel"
           (input)="id=$event.target.value">
    <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger mt-2">
      <div *ngIf="id.errors.required">
        Identyfikator jest wymagany.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Imię:</h5>
    <input id="firstName" name="firstName" class="form-control" type="text" required
           [(ngModel)]="firstName" #firstName="ngModel"
           (input)="firstName=$event.target.value">
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-2">
      <div *ngIf="firstName.errors.required">
        Imię jest wymagane.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Nazwisko:</h5>
    <input id="lastName" name="lastName" class="form-control" type="text" required
           [(ngModel)]="lastName" #lastName="ngModel"
           (input)="lastName=$event.target.value">
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-2">
      <div *ngIf="lastName.errors.required">
        Nazwisko jest wymagane.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Data urodzenia:</h5>
    <input id="dateOfBirth" name="dateOfBirth" class="form-control" type="date" required
           [(ngModel)]="dateOfBirth" #dateOfBirth="ngModel"
           (input)="dateOfBirth=$event.target.value">
    <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" class="alert alert-danger mt-2">
      <div *ngIf="dateOfBirth.errors.required">
        Data urodzenia jest wymagana.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Adres:</h5>
    <input id="address" name="address" class="form-control" type="text" pattern="[A-Za-z]{,} [0-9]{,}" required
           [(ngModel)]="address" #address="ngModel"
           (input)="address=$event.target.value">
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger mt-2">
      <div *ngIf="address.errors.required">
        Adres jest wymagany.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Miasto:</h5>
    <input id="city" name="city" class="form-control" type="text" required
           [(ngModel)]="city" #city="ngModel"
           (input)="city=$event.target.value">
    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger mt-2">
      <div *ngIf="city.errors.required">
        Miasto jest wymagane.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Kod pocztowy:</h5>
    <input id="postalCode" name="postalCode" class="form-control" type="text" pattern="[0-9]{2}-[0-9]{3}" required
           [(ngModel)]="postalCode" #postalCode="ngModel"
           (input)="postalCode=$event.target.value">
    <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="alert alert-danger mt-2">
      <div *ngIf="postalCode.errors.required">
        Kod pocztowy jest wymagany.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Adres email:</h5>
    <input id="email" name="email" class="form-control" type="email" required
           [(ngModel)]="email" #email="ngModel"
           (input)="email=$event.target.value">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-2">
      <div *ngIf="email.errors.required">
        Email jest wymagany.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Numer telefonu:</h5>
    <input id="phoneNumber" name="phoneNumber" class="form-control" type="tel" pattern="[0-9]{9}" required
           [(ngModel)]="phoneNumber" #phoneNumber="ngModel"
           (input)="phoneNumber=$event.target.value">
    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger mt-2">
      <div *ngIf="phoneNumber.errors.required">
        Numer telefonu jest wymagany.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Doświadczenia:</h5>
    <div class="input-group">
      <input id="experience.name" name="experience.name" class="form-control" type="text" required
             [(ngModel)]="inputExperience.name" #experience="ngModel"
             (input)="inputExperience.name=$event.target.value">
      <input id="experience.position" name="experience.position" class="form-control" type="text" required
             [(ngModel)]="inputExperience.position" #experience="ngModel"
             (input)="inputExperience.position=$event.target.value">
      <input id="experience.years" name="experience.years" class="form-control" type="text" pattern="[0-9]{4}-[0-9]{4}" required
             [(ngModel)]="inputExperience.years" #experience="ngModel"
             (input)="inputExperience.years=$event.target.value">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="addExperience()"
                [disabled]="!experience.valid">
          Dodaj
        </button>
      </div>
    </div>
    <div *ngIf="experience.invalid && (experience.dirty || experience.touched)" class="alert alert-danger mt-2">
      <div *ngIf="experience.errors.required">
        Brakujące dane w doświadczeniach.
      </div>
    </div>
  </div>
  <table class="table table-hover mt-2">
    <tbody>
    <tr *ngFor="let experience of ex">
      <td>{{ experience }}</td>
    </tr>
    </tbody>
  </table>

  <div>
    <h5 class="mt-2">Uniwersytety:</h5>
    <div class="input-group">
      <input id="university.name" name="university.name" class="form-control" type="text" required
             [(ngModel)]="inputUniversity.name" #university="ngModel"
             (input)="inputUniversity.name=$event.target.value">
      <input id="university.major" name="university.major" class="form-control" type="text" required
             [(ngModel)]="inputUniversity.major" #university="ngModel"
             (input)="inputUniversity.major=$event.target.value">
      <input id="university.years" name="university.years" class="form-control" type="text" pattern="[0-9]{4}-[0-9]{4}" required
             [(ngModel)]="inputUniversity.years" #university="ngModel"
             (input)="inputUniversity.years=$event.target.value">
      <input id="university.degree" name="university.degree" class="form-control" type="text" required
             [(ngModel)]="inputUniversity.degree" #university="ngModel"
             (input)="inputUniversity.degree=$event.target.value">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="addUniversity()"
                [disabled]="!university.valid">
          Dodaj
        </button>
      </div>
    </div>
    <div *ngIf="university.invalid && (university.dirty || university.touched)" class="alert alert-danger mt-2">
      <div *ngIf="university.errors.required">
        Brakujące dane w uniwersytetach.
      </div>
    </div>
    <table class="table table-hover mt-2">
      <tbody>
      <tr *ngFor="let university of un">
        <td>{{ university }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h5 class="mt-2">O mnie:</h5>
    <input id="aboutMe" name="aboutMe" class="form-control" type="text" required
           [(ngModel)]="aboutMe" #aboutMe="ngModel"
           (input)="aboutMe=$event.target.value">
    <div *ngIf="aboutMe.invalid && (aboutMe.dirty || aboutMe.touched)" class="alert alert-danger mt-2">
      <div *ngIf="aboutMe.errors.required">
        Opis jest wymagany.
      </div>
    </div>
  </div>

  <div>
    <h5 class="mt-2">Zdjęcie:</h5>
    <input id="photoUrl" name="photoUrl" class="form-control" type="url" required
           [(ngModel)]="photoUrl" #photoUrl="ngModel"
           (input)="photoUrl=$event.target.value">
    <div *ngIf="photoUrl.invalid && (photoUrl.dirty || photoUrl.touched)" class="alert alert-danger mt-2">
      <div *ngIf="photoUrl.errors.required">
        Zdjęcie jest wymagane.
      </div>
    </div>
  </div>
</div>

<!-- MIDDLE -->
<div>
  <div class="card-body" *ngIf="ex.length != 0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Nazwa doświadczenia</th>
        <th>Zajmowana pozycja</th>
        <th>Lata odbywania</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let experience of ex" (click)="onSelectExperience(experience)"
          [class.selected]="experience === selectedExperience">
        <td>{{ experience.name }}</td>
        <td>{{ experience.position }}</td>
        <td>{{ experience.years }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeExperience(experience)">Usuń</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card-body" *ngIf="un.length != 0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Nazwa uczelni</th>
        <th>Kierunek</th>
        <th>Lata studiowania</th>
        <th>Tytuł</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let university of un" (click)="onSelectUniversity(university)"
          [class.selected]="university === selectedUniversity">
        <td>{{ university.name }}</td>
        <td>{{ university.major }}</td>
        <td>{{ university.years }}</td>
        <td>{{ university.degree }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeUniversity(university)">Usuń</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- BOTTOM -->
<div>
  <button class="btn btn-success full-button" (click)="fillInfo()" routerLink="/">
    Zarejestruj
  </button>
</div>
