.fab {
  position: fixed;
  bottom: 1em;
  left: 1em;
  background-color: white;
}

.popover-fixed {
  position: fixed !important;
  top: auto !important;
  bottom: 4.1em !important;
  transform: translateY(0) !important;
  left: 1em !important;
  max-width: none !important;
}
