<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded shadow hover-dropdown">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto hover-dropdown">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Logowanie</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="shadow bg-white rounded p-4 my-3 d-flex flex-column text-center">
    <div class="alert alert-danger" *ngIf="userUnknown">
      Wprowadzone dane są niepoprawne.
    </div>
    <h1 class="mb-5">Logowanie</h1>
    <div class="col-5 align-self-center">
      <form class="form-group" (ngSubmit)="login()">
        <input class="form-control form-control-lg" type="text" name="username" placeholder="Nazwa użytkownika/e-mail" [(ngModel)]="username"><br>
        <input class="form-control form-control-lg" type="password" name="password" placeholder="Hasło" [(ngModel)]="password"><br>
        <button class="float-right btn btn-primary btn-lg" type="submit" [disabled]="loading">Zaloguj</button><div *ngIf="loading" class="float-right spinner-grow mr-3 mt-2"></div>
      </form>
    </div>
  </div>
</div>
