<h2 class="mt-4">Kokpit</h2>
<p class="mt-5 mb-3 lead text-center">Witaj! {{dayTime.charAt(0).toUpperCase() + dayTime.slice(1)}} zmiana? Dziś jest {{date}}r.</p>
<p *ngIf="testCount != undefined; else loading" class="text-center">Masz <span class="text-info font-weight-bold">{{testCount}}</span> testów do sprawdzenia. Dorwij tych replikantów, tygrysie!</p>
<div class="text-center"><img src="assets/cat.gif" alt="kotec"/></div>
<ng-template #loading><div class="text-center"><div class="spinner-grow mt-2"></div></div></ng-template>
