<!-- TITLE -->
<h2>Tworzenie nowego testu</h2>

<!-- TOP -->
<div class="card">

<!-- MIDDLE -->
<div>
    <!-- created OPEN questions -->
    <div class="card-body" *ngIf="tests.length != 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let test of tests" (click)="onSelectTest(test)" [class.selected]="test === selectedTest">
                    <td>{{ test.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- BOTTOM -->
<div>
    <!-- button to end create test -->
    <button class="btn btn-success" (click)="deleteTest()">
        Usuń test
    </button>
</div>